<div class="card w-25 m-3">
      <% order.arts.each do |art| %>
        <li> Name: <%= art.name %> </li>
        <li> Description: <%= art.description %> </li>
        <li> Category: <%= art.category %> </li>
        <li> Price: <%= art.price %> </li>
        <li> Quantity: <%= art.quantity %> </li>
      <%= link_to 'remove this item', orders_path(order) %>
      <% end %>
    </div>
