<div class="container">
  <h1 class="text-center mt-3">Your orders</h1>
  <div class="container d-flex justify-content-center my-3 flex-wrap">
    <% @orders.each do |order| %>
      <div class="card w-50 m-3 rounded shadow p-3">

        <div class="container d-flex justify-content-between my-3 flex-wrap">
          <div>
              <p class="mb-0">Created at: <%= order.created_at.strftime("%Y-%m-%d") %> </p>
              <p>Status: <%= order.status %> </p>
          </div>
          <div  class="">
            <%= link_to 'cancel this order', order_cancel_path(order), method: :patch %>
          </div>
        </div>


        <% order.art_orders.each do |art_order| %>

        <div class="container d-flex justify-content-between align-items-center my-3">
            <div>
              <%= cl_image_tag art_order.art.photos[0].key, height:200, width:100, crop: :fill, class: '' %>
            </div>

            <div class="ml-3">
              <li> Name: <%= art_order.art.name %> </li>
              <li> Description: <%= art_order.art.description %> </li>
              <li> Category: <%= art_order.art.category %> </li>
              <li> Price: <%= art_order.art.price %> </li>
              <%= link_to 'remove this item', art_order_path(art_order), method: :delete %>
            </div>
          </div>
        <% end %>
    <!--       <%= link_to 'remove this order', order_path(order), method: :delete %>-->


      </div>
    <% end %>
  </div>
</div>

