
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path('gerhard2.jpeg') %>);">

  <div class="d-flex justify-content-around align-items-center">
    <div class ="text-right" style= "width: 600px">
      <h1 class="text-uppercase">Share & Connect With Local Artists</h1>
      <h3>Showcase your work or find your next favorite piece.</h3>
   <!--    <form class="form-group">
        <input type="text" placeholder="What's your neighborhood?" class="form-control">
        <button href="#" id="neighborhoodSearch" class="btn btn-light form-control">Search</button>
      </form> -->
    </div>
    <div
    id="map"
    style="width: 50%;
    height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    class="my-3 flex-grow"
    ></div>
  </div>
</div>

<% unless current_user.present? %>
  <h2 class="text-center mt-3"><%= link_to "Log in", new_user_session_path %> to see local art...</h2>
<% end %>

<% if @localartists.present? %>
  <h2 class="text-center mt-3">Art around you...</h2>

  <%= render 'arts/display_arts', artists: @localartists %>
<% end %>

<!--
<div class="container d-flex justify-content-center">
  <div class="card m-3 p-3 w-25">Share</div>
  <div class="card m-3 p-3 w-25">Find</div>
  <div class="card m-3 p-3 w-25">Connect</div>
</div>
-->
